In [34]:
import pandas as pd

Import table "country_language" into dataframe "df_country_language"

In [35]:
df_country_language = pd.read_sql(
"""
SELECT 
  *
FROM
  country_language;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

Import table "country" into dataframe "df_country"

In [36]:
df_country = pd.read_sql(
"""
SELECT 
  *
FROM
  country;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

Print the first rows of "df_country_language"

In [37]:
df_country_language.head()

  country_code    language  is_official  percentage
0          AFG      Pashto         True        52.4
1          NLD       Dutch         True        95.6
2          ANT  Papiamento         True        86.2
3          ALB   Albaniana         True        97.9
4          DZA      Arabic         True        86.0

Join tables "country_language" and "country", filter only official languages

In [38]:
pd.read_sql(
"""
SELECT 
  *
FROM
  country_language cl
INNER JOIN
  country c
ON
  cl.country_code = c.code
WHERE cl.is_official = 'True'
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

,country_code,language,is_official,percentage,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,AFG,Pashto,True,52.4,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,NLD,Dutch,True,95.6,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL
2,ANT,Papiamento,True,86.2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
3,ALB,Albaniana,True,97.9,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
4,DZA,Arabic,True,86.0,DZA,Algeria,Africa,Northern Africa,2381740.0,1962.0,31471000,69.7,49982.0,46966.0,Al-Jazair/Algérie,Republic,Abdelaziz Bouteflika,35.0,DZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,ZAF,English,True,8.5,ZAF,South Africa,Africa,Southern Africa,1221040.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
234,LUX,German,True,2.3,LUX,Luxembourg,Europe,Western Europe,2586.0,1867.0,435700,77.1,16321.0,15519.0,Luxembourg/Lëtzebuerg,Constitutional Monarchy,Henri,2452.0,LU
235,NRU,English,True,7.5,NRU,Nauru,Oceania,Micronesia,21.0,1968.0,12000,60.8,197.0,NaN,Naoero/Nauru,Republic,Bernard Dowiyogo,2728.0,NR
236,PAK,Urdu,True,7.6,PAK,Pakistan,Asia,Southern and Central Asia,796095.0,1947.0,156483000,61.1,61289.0,58549.0,Pakistan,Republic,Mohammad Rafiq Tarar,2831.0,PK
237,MNP,English,True,4.8,MNP,Northern Mariana Islands,Oceania,Micronesia,464.0,NaN,78000,75.5,0.0,NaN,Northern Mariana Islands,Commonwealth of the US,George W. Bush,2913.0,MP

Do the same work using Pandas. First, merge df_country_language and merge df_country

In [39]:
combined_df = pd.merge(df_country_language, df_country, how='inner', left_on='country_code', right_on='code')

In [41]:
combined_df

,country_code,language,is_official,percentage,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,AFG,Pashto,True,52.4,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,AFG,Dari,True,32.1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AFG,Uzbek,False,8.8,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
3,AFG,Turkmenian,False,1.9,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
4,AFG,Balochi,False,0.9,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,ZWE,Ndebele,False,16.2,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW
980,ZWE,English,True,2.2,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW
981,ZWE,Nyanja,False,2.2,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW
982,PSE,Arabic,False,95.9,PSE,Palestine,Asia,Middle East,6257.0,NaN,3101000,71.4,4173.0,NaN,Filastin,Autonomous Area,Yasser (Yasir) Arafat,4074.0,PS
983,PSE,Hebrew,False,4.1,PSE,Palestine,Asia,Middle East,6257.0,NaN,3101000,71.4,4173.0,NaN,Filastin,Autonomous Area,Yasser (Yasir) Arafat,4074.0,PS

Second: filter only official languages

In [42]:
filter_is_official = combined_df['is_official'] == True

In [43]:
combined_df.loc[filter_is_official]

,country_code,language,is_official,percentage,code,name,continent,region,surface_area,indep_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,AFG,Pashto,True,52.4,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
1,AFG,Dari,True,32.1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
5,NLD,Dutch,True,95.6,NLD,Netherlands,Europe,Western Europe,41526.0,1581.0,15864000,78.3,371362.0,360478.0,Nederland,Constitutional Monarchy,Beatrix,5.0,NL
9,ANT,Papiamento,True,86.2,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
11,ANT,Dutch,True,0.0,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33.0,AN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,EST,Estonian,True,65.3,EST,Estonia,Europe,Baltic Countries,45227.0,1991.0,1439200,69.5,5328.0,3371.0,Eesti,Republic,Lennart Meri,3791.0,EE
962,USA,English,True,86.2,USA,United States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,United States,Federal Republic,George W. Bush,3813.0,US
974,VIR,English,True,81.7,VIR,"Virgin Islands, U.S.",North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the United States,US Territory,George W. Bush,4067.0,VI
977,UMI,English,True,0.0,UMI,United States Minor Outlying Islands,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,United States Minor Outlying Islands,Dependent Territory of the US,George W. Bush,NaN,UM
980,ZWE,English,True,2.2,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW